@import '../layout/nav';
@import '../layout/banner';
@import '../layout/addMember';
@import '../layout/footer';

.newMessage{
  .card{
    width: 328px;
    .user-photo{
      width: 56px;
      height: 56px;
      background: url('../img/ilyuza-mingazova-nouRUMB6lEc-unsplash.jpg') no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      border-radius: 50%;
    }
    .star{
      width: 36px;
      height: 36px;
      background: url('../img/Star\ 4.png') no-repeat;
    }
    .stars :nth-child(5){
      background: url('../img/Star\ 5.png') no-repeat;
    }
  }
}
@media(max-width: 992px){
  .newMessage{
    .title_hr{
      width: 55vw;
    }
  }
}

.remanMap{
  .title_hr{
    width: 75%;
  }
  .maps{
    height: 473px;
  }
}
@media(max-width: 992px){
  .remanMap{
    .title_hr{
      width: 40%;
    }
  }
}
