@import '../layout/nav';
@import '../layout/banner';
@import '../layout/addMember';
@import '../layout/footer';
@import '../modules/card';


@media(max-width: 992px){
  .newMessage{
    .title_hr{
      width: 55vw;
    }
  }
}

.remanMap{
  .title_hr{
    width: 75%;
  }
  .maps{
    height: 473px;
  }
}
@media(max-width: 992px){
  .remanMap{
    .title_hr{
      width: 40%;
    }
  }
}
