@import '../helpers/custom';

.navbar{
  .navbar-brand{
    width: 208px;
    height: 63px;
    background-image: url('../img/logo.svg');
  }
  .nav-item{
    margin-left: 0.5rem;
    .nav-link{
      color: #fff;
      font-weight: normal;
      line-height: 2.5;
      &:hover{
        border-bottom: 2px solid #fff;
      }
    }
    .dropdown-toggle::after{
      display: none;
      .dropdown-item :hover{
        background-color: $primary;
      }
    }
  }
  .navbar-toggler{
    border: none;
    &:focus{
      box-shadow: none;
    }
  }
}

