.main_pic{
  height: 55vh;
  background-image: url('../img/main_pic.png');
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: contain;
  z-index: 100;
}
@media(max-width: 992px){
  .main_pic{
    height: 30vh;
  }
}

.searchForm{
  z-index: 50;
  margin-top: -20px;
  .form-control,.btn{
    margin-right: 24px;
    height: 56px;
  }
  .form-control{
    width: 12vw;
  }
  .searchBtn{
    width: 7vw;
  }
}
@media(max-width: 992px){
  .searchForm{
    .form-control,.btn{
      width: 260px;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
}