@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&display=swap');
@import './pages/index';
@import 'custom';
@import '../../node_modules/bootstrap/scss/bootstrap';

body{
  background-image: url('../img/banner_bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 912px;
  font-family: 'Noto Serif TC', serif;
}
@media(max-width: 992px){
  body{
    background-size: 100% 368px;
  }
}
.btn,.form-control{
  border-radius: 0;
}
ul{
  list-style: none;
}
section{
  .circle{
    width: 60px;
    height: 60px;
    top: -8px;
    background: url('../img/Ellipse\ 3.png') no-repeat;
    background-size: contain;
    z-index: auto;
  }
  .title_h2{
    z-index: 100;
  }
  .title_hr{
    width: 80%;
    height: 7px;
  }
}

